/* 
====== 
Variables 
======
*/
:root {
  --primary-light-color: #63804d;
  --primary-color: #476a2e;
  --primary-dark-color: #3c5a27;
  --clr-white: #fff;
  --clr-offWhite: #f7f7f7;
  --background-color: #f1f5f8;
  --overlay: rgba(35, 10, 36, 0.4);
  --clr-black: #222;
  --clr-light-grey: #ececec;
  --clr-dark-grey: #afafaf;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --small-spacing: 0.1rem;
  --light-shadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --dark-shadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
  --border-radius: 0.25rem;
  --view-width: 90vw;
  --full-width: 40rem;
  --max-width: 1440px;
}

/* 
====== 
Global Styles 
======
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--clr-black);
  background: var(--background-color);
  line-height: 1.5;
  font-size: 1rem;
  font-weight: 300;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 1.25rem;
  letter-spacing: var(--spacing);
}

p {
  margin-bottom: 1.25rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--clr-black);
}

img {
  width: 100%;
  display: block;
}

/* 
====== 
Navbar
======
*/
.navbar {
  background-color: var(--clr-white);
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.logo {
  width: 12rem;
}

.nav-toggle {
  font-size: 1.25rem;
  color: var(--primary-color);
  background-color: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
  display: flex;
  align-items: center;
}

.nav-toggle:hover {
  transform: rotate(180deg);
}

.links-container {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}

.nav-links a {
  text-transform: capitalize;
  display: block;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  transition: var(--transition);
}

.nav-links a:hover {
  color: var(--clr-white);
  background-color: var(--primary-color);
  padding-left: 1.5rem;
}

@media screen and (min-width: 768px) {
  .nav-center {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem 0;
  }

  .nav-header {
    padding-left: 1.5rem;
  }

  .nav-toggle {
    display: none;
  }

  .links-container {
    height: auto !important;
    margin-right: 1.5rem;
  }

  .nav-links {
    display: flex;
  }

  .nav-links a {
    padding: 0.375rem 1rem;
    font-size: 1rem;
    font-weight: 400;
  }

  .nav-links a:hover {
    padding: 0.375rem 1rem;
    color: var(--clr-white);
    background-color: var(--primary-color);
  }
}

/* 
====== 
Global Classes 
======
*/
.section {
  padding: 2.5rem 0;
  padding-bottom: 0;
}

.section-title {
  font-size: 1.75rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  text-align: center;
  width: var(--view-width);
  max-width: var(--max-width);
  margin: 0 auto;
  padding-bottom: 2rem;
}

.btn {
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: var(--clr-white);
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: var(--small-spacing);
  padding: 0.5rem 0.75rem;
  display: inline-block;
  border-radius: var(--border-radius);
  transition: var(--transition);
  cursor: pointer;
}

.btn:hover {
  background: var(--clr-white);
  color: var(--primary-color);
}

.btn-block {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .section {
    padding: 4.5rem 0;
    padding-bottom: 0;
  }
}

/* 
====== 
Search Form
======
*/
.search-form {
  width: var(--view-width);
  max-width: var(--full-width);
  margin: 0 auto;
  background: var(--clr-white);
  padding: 1rem;
  text-transform: capitalize;
  border-radius: var(--border-radius);
  box-shadow: var(--light-shadow);
}

.form-control label {
  display: block;
  margin-bottom: 1.25rem;
  font-weight: bold;
  letter-spacing: var(--spacing);
  color: var(--primary-color);
}

.search-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-control input {
  width: 100%;
  border: 1px solid var(--clr-dark-grey);
  background-color: var(--background-color);
  padding: 0.5rem;
  font-size: 0.9rem;
  letter-spacing: var(--small-spacing);
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}

.search-btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

@media screen and (min-width: 768px) {
  .search-form {
    padding: 2rem;
  }
}

/* 
====== 
Cocktail List 
======
*/
.cocktails-center {
  width: var(--view-width);
  max-width: var(--max-width);
  margin: 0 auto;
  display: grid;
  gap: 2rem;
}

@media screen and (min-width: 768px) {
  .cocktails-center {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1200px) {
  .cocktails-center {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* 
====== 
Cocktail Card
======
*/
.cocktail {
  background: var(--clr-white);
  margin-bottom: 1rem;
  border-radius: var(--border-radius);
  box-shadow: var(--light-shadow);
  transition: var(--transition);
  display: grid;
  grid-template-rows: 1fr auto;
}

.cocktail:hover {
  box-shadow: var(--dark-shadow);
}

.cocktail img {
  height: 18rem;
  object-fit: cover;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.cocktail-footer {
  padding: 1.5rem;
}

.cocktail-footer h3,
.cocktail-footer h4,
.cocktail-footer p {
  margin-bottom: 0.25rem;
}

.cocktail-footer h3 {
  font-size: 1.75rem;
}

.cocktail-footer h4 {
  letter-spacing: var(--small-spacing);
}

.cocktail-footer p {
  color: grey;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

/* 
====== 
Single Cocktail
======
*/
.cocktail-section {
  text-align: center;
}

.drink {
  width: var(--view-width);
  max-width: var(--max-width);
  display: grid;
  align-items: center;
  margin: 0 auto;
  text-align: left;
}

.drink img {
  border-radius: var(--border-radius);
}

.drink-info {
  padding-top: 2rem;
}

.drink p {
  font-weight: 400;
  text-transform: capitalize;
  line-height: 1.75;
}

.drink-info :last-child {
  margin-bottom: 0;
}

.drink span {
  margin-right: 0.5rem;
}

.drink-data {
  background: var(--primary-color);
  color: var(--clr-white);
  padding: 0.25rem 0.5rem;
  border-radius: var(--border-radius);
}

.home-btn {
  margin-top: 2.5rem;
}

@media screen and (min-width: 768px) {
  .drink {
    grid-template-columns: 2fr 3fr;
    gap: 2rem;
  }

  .drink-info {
    padding-top: 0;
  }
}

/* 
====== 
About
======
*/
.about-section {
  width: var(--view-width);
  max-width: var(--max-width);
  margin: 0 auto;
}

.about-section p {
  line-height: 2rem;
  font-weight: 400;
  letter-spacing: var(--small-spacing);
  text-align: justify;
}

/* 
====== 
Error, SinglePageError
======
*/
.error-section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.error-container {
  text-align: center;
  text-transform: capitalize;
  width: var(--view-width);
  margin: 0 auto;
}

.notFoundImg {
  width: 15rem;
  margin: 0 auto;
}

.error-container p {
  font-weight: 400;
  letter-spacing: var(--small-spacing);
}

/* 
====== 
Loading
======
*/
.loading-window {
  height: 50vh;
  width: var(--view-width);
  max-width: var(--max-width);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  width: 5rem;
  height: 5rem;
  border: 7px solid var(--primary-color);
  border-radius: 50%;
  border-top-color: transparent;
  animation: spinner 0.7s linear infinite;
}

/* 
====== 
Newsletter
======
*/
.form {
  width: var(--view-width);
  max-width: var(--full-width);
  background-color: var(--clr-white);
  border-radius: var(--border-radius);
  box-shadow: var(--light-shadow);
  padding: 2.5rem;
  margin: 3rem auto;
}

.form h4 {
  text-align: center;
}

.form-row {
  margin-bottom: 1rem;
}

.form-label {
  display: block;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  letter-spacing: var(--small-spacing);
}

.form-input {
  width: 100%;
  padding: 0.375rem 0.75rem;
  border-radius: var(--border-radius);
  background-color: var(--background-color);
  border: 1px solid var(--clr-light-grey);
  font-size: 0.9rem;
  letter-spacing: var(--small-spacing);
}

.last-input {
  margin-bottom: 1rem;
}
